.monster {
    position: absolute;
    top: 40%;
    left: 0px;
    width: 800px;
    height: 632px;
    transform: scale(0.5) translate(-9%, -45%);
    animation: run 1s steps(7) infinite;
  }
  @keyframes run {
    100% {
      background-position: -5375px, 0;
    }
}