.puzzel-indicator-container {
    display: flex;
    height: 77px;
    width: 154px;
    justify-content: center;
    align-items: center;
}

.completed-puzzel {
    height: 25px;
    width: 15px;
    margin: 8px;
}

.active-indicator {
    opacity: 100%;
}

