.end-level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 25%;
}
.rating { 
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  left:0;
}

.row {
  top: 0;
  display: flex;
  left: 6em;
}

.pin-star {
  float: right;
  width: 15%;
  padding: 0.5em;
  height: 7px;
 }

img {
  height: 2rem;
}
