.ball{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.stones-letter {
    font-size: 2.4em;
    color: white;
    display: flex;
    justify-content: center;
}

.ball0 {
    position: absolute;
    width: 4.4em;
    height: 4.4em;
    top: 60%;
    left: 8%
}

.ball1 {
    position: absolute;
    width: 4.4em;
    height: 4.4em;
    top: 60%;
    left: 82%
}

.ball2{
    position: absolute;
    width: 4.4em;
    height: 4.4em;
    top: 35%;
    left: 59%;
}

.ball3{
    position: absolute;
    width: 4.4em;
    height: 4.4em;
    top:  25%;
    left: 5%
}

.ball4{
    position: absolute;
    width: 4.4em;
    height: 4.4em;
    top: 25%;
    left: 82%
}

.ball5{
    position: absolute;
    width: 4.4em;
    height: 4.4em;
    top: 85%;
    left: 35%
}

.ball6{
    position: absolute;
    width: 4.4em;
    height: 4.4em;
    top: 70%;
    left: 90%
}

.ball7{
    position: absolute;
    width: 4.4em;
    height: 4.4em;
    top: 70%;
    left: 20%;
}

.ball8{
    position: relative;
    width: 4.4em;
    height: 4.4em;
}

.no-ball0 {
    position: relative;
    width: 50px;
    height: 50px;
    opacity: 0;
    background-color:white;
    color: white;
    border-radius: 50%;
    top: 80%;
    left: 22%
}

.no-ball1 {
    position: relative;
    width: 50px;
    height: 50px;
    opacity: 0;
    background-color:white;
    color: white;
    border-radius: 50%;
    top: 55%;
    left: 75%
}

.no-ball2 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color:white;
    color: white;
    opacity: 0;
    border-radius: 50%;
    top: -55%;
    left: 49%;
}

.no-ball3 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color:white;
    color: white;
    opacity: 0;
    border-radius: 50%;
    top: -40%;
    left: 5%
}

.no-ball4 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color:white;
    color: white;
    border-radius: 50%;
    opacity: 0;
    top: -62%;
    left: 90%
}

.no-ball5 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color:white;
    color: white;
    border-radius: 50%;
    opacity: 0;
    top: 8%;
    left: 49%
}

.no-ball6 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color:white;
    color: white;
    border-radius: 50%;
    opacity: 0;
    top: -30%;
    left: 90%
}

.no-ball7 {
    position: relative;
    width: 50px;
    height: 50px;
    background-color:white;
    color: white;
    border-radius: 50%;
    opacity: 0;
    top: -55%;
    left: 5%;
}
.droptarget {
    display: flex;
    justify-content: center;
}
