.ball{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball0 {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    top: 120%;
    left: 10%
}

.ball1 {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    top: 180%;
    left: 25%
}

.ball2{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    top: 164%;
    left: 75%;
}

.ball3{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    top: 65%;
    left: 85%
}

.ball4{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    top: 65%;
    left: 85%
}

.ball5{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball6{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball7{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball8{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.no-ball0 {
    position: relative;
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
    top: 120%;
    left: 10%
}

.no-ball1 {
    position: relative;
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
    top: 180%;
    left: 25%
}

.no-ball2 {
    position: relative;
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
    top: 164%;
    left: 75%;
}

.no-ball3 {
    position: relative;
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
    top: 65%;
    left: 85%;
}

.no-ball5 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball6 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball7 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball8 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}
