.mainDiv {
  width: 47em;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}

.buttonStyle {
  width: 16em;
  text-align: center;
  line-height: 3em;
  justify-content: center;
}

.dropArea {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
}

.drop {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
  text-align: center;
}

@keyframes cloud-moving {
  from {
    left: 0%;
  }
  to {
    left: 70%;
  }
}

.cloud-css {
  animation-name: cloud-moving;
  animation-duration: 15s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.balls {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  align-items: left;
  margin: 24px auto;
  text-align: center;
}

.right-answer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bal {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  margin: 24px auto;
}

p {
  color: black;
  font-size: 1.2em;
  text-align: center;
}

.no-balls {
  width: 30px;
  height: 30px;
  background-color: white;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: "row";
}

.current {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  align-items: left;
  margin: 24px auto;
}

.h5p-enable-fullscreen{
  position: absolute;
  top: 2%; 
  /* left: -0.1%; */
  
}
.h5p-content-controls {
  margin: 0;
  position: absolute;
  left: 1.5%;
  top: 2%;
  z-index: 3;
}
.h5p-actions {
  display: none;
}
.fl-resource-full {
  display: inline;
}
.fl-resource-full__sticky-header sticky {
  display: none;
}
.fl-resource-full__title {
  display: none;
}
.fl-resource-full__sticky-header__btn {
  display: none;
}
.fl-cookie-popup--open {
  display: none;
}

/* .ball1{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball2{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball3{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball4{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball5{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball6{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball7{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.ball8{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.no-ball1 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball2 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball3 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball4 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball5 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball6 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball7 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}

.no-ball8 {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
}
 */
