.mainDiv {
    width: 47em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.buttonStyle{
    width: 16em;
    text-align: center;
    line-height: 3em;
    justify-content: center;
}

.dropArea {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
}

.drop {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 24px auto;
    text-align: center;
}

.balls {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    align-items: left;
    margin: 24px auto;
    text-align: center;
}

.right-answer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bal {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin: 24px auto;
}

p {
    color: black;
    font-size: 1.2em;
    text-align: center;
}

.no-balls {
    width: 30px;
    height: 30px;
    background-color:white;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: "row";
}

.current {
    width: 30px;
    height: 30px;
    background-color:red;
    border-radius: 50%;
    align-items: left;
    margin: 24px auto;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	height: 30px;
	width: 400px;
    margin-top: 20px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	height: 100%;
	opacity: 0;
}
