.score-board {
    display: flex;
    flex-direction: column;
    height: 5em;
    width: 9em;
    align-items: end;
    justify-content: flex-start;
}

h3 {
    color: white;
    padding: 0px;
    margin: 0px;
}